<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Adress book</title>
<link href="css/bootstrap.css" rel="stylesheet" />

</head>
<body ng-app="adressBookCreate">
	<div class="container" ng-controller="AppCtrl">
		<div class="row">
			<div class="form-group col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">Person info</div>
					<div class="panel-body">


						<form ng-submit="submit()">
							<table>

								<tr>
									<th colspan="2">Add customer</th>
								</tr>
								<tr>
									<td>First Name</td>
									<td><input type="text"
										ng-model="adressBookForm.firstName" /></td>
								</tr>
								<tr>
									<td>Second Name</td>
									<td><input type="text"
										ng-model="adressBookForm.secondName" /></td>
								</tr>
								<tr>
									<td>work place</td>
									<td><input type="text"
										ng-model="adressBookForm.workPlace" /></td>
								</tr>
								<tr>
									<td>adress</td>
									<td><input type="text"
										ng-model="adressBookForm.adress" /></td>
								</tr>
								<tr>
									<td>comments</td>
									<td><input type="text"
										ng-model="adressBookForm.comments" /></td>
								</tr>
								<tr>
									<td>phone numbers</td>
									<td><input type="list"
										ng-model="adressBookForm.numbers" ng-list/></td>
								</tr>
								<tr>
									<td>emails</td>
									<td><input type="list"
										ng-model="adressBookForm.emails" ng-list/></td>
								</tr>
								<tr>
									<td colspan="2"><input type="submit" value="Submit"
										class="blue-button" /></td>
								</tr>
							</table>
						</form>





						
					</div>
				</div>
			</div>
		</div>
	</div>


	<script type="text/javascript" src="js/lib/angular.min.js"></script>
	<script type="text/javascript" src="js/app/create.js"></script>
</body>
</html>