<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Adress book</title>
<link href="css/bootstrap.css" rel="stylesheet" />

</head>
<body ng-app="adressBookList">
	<div class="container" ng-controller="AppCtrl">
		<div class="row">
			<div class="form-group col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">Persons list</div>
					<div class="panel-body">
						<form action="/create.html">
							<button type="Submit" class="btn btn-success custom-width">Add</button>
						</form>
						<table class="table table-striped">
							<thead>
								<tr>

									<th>First name</th>
									<th>second name</th>
									<th>number</th>
									<th>email</th>
									<th width="90"></th>
									<th width="80"></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="adressBookForm in adressBookForms">

									<td>{{adressBookForm.firstName}}</td>
									<td>{{adressBookForm.secondName}}</td>
									<td>{{adressBookForm.numbers}}</td>
									<td>{{adressBookForm.emails}}</td>
									<td><button type="button" href="#/index.html"
											ng-click="showPerson(adressBookForm.id)"
											class="btn btn-success custom-width">Read</button></td>
									<td><button type="button"
											ng-click="removePerson(adressBookForm.personId)"
											class="btn btn-danger custom-width">Remove</button></td>
								</tr>
							</tbody>

						</table>
					</div>
				</div>
			</div>
		</div>
	</div>


	<script type="text/javascript" src="js/lib/angular.min.js"></script>
	<script type="text/javascript" src="js/app/list.js"></script>
</body>
</html>